<section class="module-medium" style="background-color: white; padding-top : 120px;">
<div class="container">
<div class="row">
<div class="spinner-border" role="status" *ngIf="(isLoading$|async)">
  <span class="sr-only">Loading...</span>
</div>
<!-- if user not connected or doesn't have any profile-->
<div class="alert alert-danger" *ngIf="!(isAuth$)" >
  <strong>Veuillez vous inscrire pour pouvoir poster une proposition</strong> 
</div>
</div>
<div *ngIf="!(isAuth$)">
    <app-login></app-login>
</div>  

<form class="form" [formGroup]="propositionForm" *ngIf="!(isLoading$ | async) && (isAuth$)" (ngSubmit)="submitProposition()">
  <div class="alert alert-warning">
    <strong>Complète toutes les informations avant de valider ta proposition</strong>
  </div>
  <div class="form-group">
    <label>J'aurais besoin d'aide en :</label>
    <select  class="form-control" formControlName="course_id" placeholder="Cours pour lequel tu as besoin d'aide">
      <option *ngFor="let x of courses" [ngValue]="x.id" [selected]="course_two_id == x.id" >{{x.name}}</option>
    </select>
  </div>
  <div class="form-group">
    <label>Contre des cours en :</label>
    <select  class="form-control" formControlName="course_two_id" placeholder="Le cours que tu propose en échange">
      <option *ngFor="let x of courses" [ngValue]="x.id" [selected]="course_two_id == x.id" >{{x.name}}</option>
    </select>
  </div>
  <div class="form-group">
    <label>Nombre d'heures :</label>
    <select class="form-control"   type="text"  formControlName="hours" placeholder="nombre d'heures">
        <option> 1 </option>
        <option> 2 </option>
        <option> 3 </option>
        <option> 4 </option>
    </select>
  </div>
  <div class="form-group">
    <label>Année d'étude:</label>
    <select  class="form-control" formControlName="schoolyear_id" placeholder="Année d'étude">
      <option *ngFor="let x of schoolyears" [ngValue]="x.id" [selected]="schoolyear_id == x.id" >{{x.name}}</option>
    </select>
  </div>
  <div class="form-group">
    <textarea class="form-control" rows="7" formControlName="description"  placeholder="Essaie de décrire au maximum ce pourquoi tu as besoin d'aide."></textarea>
  </div>
  <div class="form-group">
    <button type="submit"  class="btn btn-round btn-b">Soumettre ta proposition</button>
  </div>
</form>
</div>
</section>
    


