<section class="module" style="background-color: white;">
    <div class="container">
      <div class="row">
        <div class="col-sm-5 col-sm-offset-1 mb-sm-40">

        <h4 class="font-alt">Change Password</h4>
            <hr class="divider-w mb-10">
        <form class="form-signin"  [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <input type="email" class="form-control" formControlName="email" placeholder="Email"/>
              </div>
              <div class="form-group">
                <input class="form-control"  type="password" class="form-control" formControlName="password" placeholder="Password"/>
              </div>
              <div class="form-group">
                <input type="password" class="form-control" formControlName="password_confirmation" placeholder="Re-enter Password"/>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-outline-dark my-2 my-sm-0" >Reset Password</button>
              </div>
    </form>
            </div>
        </div>
        </div>
        </section>