<section class="module-medium" style="background-color: white; padding-top : 120px;">
  <div class="container">
  <div class="row">
  <div class="spinner-border" role="status" *ngIf="(isLoading$|async)">
    <span class="sr-only">Loading...</span>
  </div>
  <!-- if user not connected or doesn't have any profile-->
  <div class="alert alert-danger" *ngIf="!(isAuth$)" >
    <strong>Veuillez vous connecter/inscrire pour pouvoir matcher avec un camarade</strong> 
  </div>
  </div>
  <div *ngIf="!(isAuth$)">
      <app-login></app-login>
  </div>  
  
  <form class="form" *ngIf="!(isLoading$|async) && (isAuth$) && collab" (ngSubmit)="submitCollab()">
    <div class="form-group">
      <label>J'aurais besoin d'aide en :</label>
      <div  *ngFor="let course of courses">
        <li class="list-group-item" *ngIf="course.id == collab.course_id"> {{course.name}}</li>
      </div>
    </div>
    <div class="form-group">
      <label>Contre des cours en :</label>
      <div  *ngFor="let course of courses">
        <li class="list-group-item" *ngIf="course.id == collab.course_two_id"> {{course.name}}</li>
      </div>
    </div>
    <div class="form-group">
      <label>Nombre d'heures :</label>
      <li class="list-group-item"   >{{collab.hours}}</li>
    </div>
    <div class="form-group">
      <label>Année d'étude:</label>
      <div  *ngFor="let scyear of schoolyears">
        <li class="list-group-item" *ngIf="scyear.id == collab.schoolyear_id"> {{scyear.name}}</li>
      </div>
    </div>
    <div class="form-group">
      <li class="list-group-item"   >{{collab.description}}</li>
    </div>
    <div class="form-group">
      <button type="submit"  class="btn btn-round btn-b">Prendre cette collaboration</button>
    </div>
    <div class="form-group">
      <a routerLink="/collaborations">retour aux collaborations</a>
    </div>
  </form>
  </div>
  </section>
      
  
  
  