.dot {
    height: 25px;
    width: 25px;
    margin-left: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }

/* Solid border */
hr.solid {
    border-top: 2px solid rgb(41, 41, 41);
    
  }

.button-size {
    text-align: center;
    background-color: white;
    height: 30px;
    width: 30px;
}
  

