<div class="spinner-border" role="status" *ngIf="(isLoading$ | async)">
  <span class="sr-only">Loading...</span>
</div>
<form class="form" [formGroup]="profileForm" *ngIf="!(isLoading$ | async)">
    <div class="alert alert-danger" *ngIf="user_infos?.ecamtroc == null">
      <strong>Veuillez valider votre email pour mieux sécuriser votre compte.</strong> <a href="#"> ici </a>
    </div>
    <div class="form-group">
      <input class="form-control" formControlName="email" id="email" type="email" placeholder="email"/>
    </div>
    <div class="form-group">
      <input class="form-control"  type="text" formControlName="lastname" placeholder="Nom"/>
    </div>
    <div class="form-group">
      <input class="form-control"   type="text"  formControlName="firstname" placeholder="Prénom"/>
    </div>
    <div class="form-group">
      <input class="form-control" id="scyear" type="text"  formControlName="schoolyear" placeholder="Année d'études"/>
    </div>
    <div class="form-group">
      <input class="form-control" id="Num" type="text" formControlName="phone"  placeholder="Numéro de téléphone"/>
    </div>
    <div class="form-group">
      <button class="btn btn-round btn-b">Mettre à jour</button>
    </div>
</form>
