<section class="module-small" style="background-color: white">
    <div class="container " style="text-align: center;">
      <h2 class="module-title font-alt " >Trouve ton match</h2>
      <div class="row animated fadeInLeft WOW" >
        <div class="col" style="max-height: 25%"  >
          <div class="shop-item" >
            <div class="shop-item-image"><img style="max-height: 25%" src="https://images.unsplash.com/photo-1486013343683-3070a76b76e0?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bG91cGV8ZW58MHwxfDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="Accessories Pack"/>
              <div class="shop-item-detail"><a class="btn btn-round btn-b" routerLink="/collaborations"><span >Chercher une collaboration</span></a></div>
            </div>
            <h4 class="shop-item-title font-alt"><a routerLink="/collaborations">Chercher une collaboration</a></h4>
          </div>
        </div>
        <div class="col" >
          <div class="shop-item">
            <div class="shop-item-image"><img style="max-height: 25%" src="https://images.unsplash.com/photo-1579389083395-4507e98b5e67?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGNvbGxhYm9yYXRpb258ZW58MHwxfDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="Men’s Casual Pack"/>
              <div class="shop-item-detail"><a class="btn btn-round btn-b" routerLink="/proposition"><span >Proposer une collaboration</span></a></div>
            </div>
            <h4 class="shop-item-title font-alt"><a routerLink="/proposition">Proposer une collaboration</a></h4>
          </div>
        </div> 
      </div>
    </div>
    
  </section>


  <script>
    $( document ).ready(function() {
      new WOW().init();
      });
  </script>