

<section class="module animated fadeInLeft WOW " style="background-color: white;">
    <div class="container">
      <h2 class="module-title font-alt">Le site d'entraide gratuit entre écamiens !</h2>
      <div class="module-subtitle font-serif">Le principe est simple:  <br>
        <div>
          <p>Tu crées ton compte</p>
          <p>Tu recherches si une collaboration te convient</p>
          <p>Si aucune ne te convient, tu en proposes une.</p>
          <p>Seule condition : c'est gratuit. Tu échanges un cours contre un autre. </p>
          <p>Troc Ton Cours ! </p>
        </div> 
      </div> 
      
    </div>
  </section>

  <div class=" embed-responsive embed-responsive-16by9" >
    <iframe src="https://www.youtube.com/embed/Q0icfStD6K0?autoplay=1&loop=1&start=0&mute=1&controls=0&playpst=1u9Gk9KvLe0" frameborder="0" allow="accelerometer; autoplay; cppboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <script>
    $( document ).ready(function() {
      new WOW().init();
      });
  </script>