<div class="module-small " style="background-color: #f1eae4;">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-4 col-lg-offset-2">
        <div class="callout-text font-alt">
          <h3 class="callout-title" style="color :black;">Tu as des questions ? </h3>
          <p  style="color :black;">N'hésite pas à nous écrire : </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-4">
        <div class="callout-btn-box">
          <form id="subscription-form" >
            <div class="input-group">
                <button class="btn btn-g btn-round" id="subscription-form-submit" routerLink="/contact"  style="color :black;">Contact us</button>
            </div>
          </form>
          <div class="text-center" id="subscription-response"></div>
        </div>
      </div>
    </div>
  </div>
</div>