<section class="module" style="background-color: white;">
    <div class="container">
      <div class="row" *ngIf="successMsg == false">
        <div class="col-sm-5 col-sm-offset-1 mb-sm-40" >
          <h4 class="font-alt">Récupération de mot de passe.</h4>
          <p>Please enter your email and we will send you a link to reset your password </p>
          <hr class="divider-w mb-10">
          <form class="form" [formGroup]="resetForm" (ngSubmit)="onSubmit()" >
            <div class="form-group">
              <input type="email" class="form-control" formControlName="email"/>
            </div>
            <div class="form-group">
              <button type= "submit" class="btn btn-round btn-b">Envoyer le mail</button>
            </div>
            <div class="form-group"><a routerLink="../login">Retour à la page de connexion</a></div>
          </form>
        </div>  
      </div>
      <div class="row" *ngIf="successMsg == true">
        <div class="col-sm-5 col-sm-offset-1 mb-sm-40" >
          <h4 class="font-alt">Mail envoyé! </h4>
          <p>Un lien vous permettant de récupérer votre compte vous a été envoyé.Si il ne vous parvient pas dans les 2 minutes , veuillez renvoyer l'email. </p>
          <hr class="divider-w mb-10">
          <form class="form" [formGroup]="resetForm" (ngSubmit)="onSubmit()" >
            <div class="form-group">
              <input type="email" class="form-control" formControlName="email"/>
            </div>
            <div class="form-group">
              <button type= "submit" class="btn btn-round btn-b">Renvoyer le mail</button>
            </div>
            <div class="form-group"><a routerLink="../login">Retour à la page de connexion</a></div>
          </form>
        </div>  
      </div>
    </div>
</section>
