<section class="module-medium" style="background-color : white ; padding-top : 120px;">
    <div class="container">
      <div class="row">
        <ul class="nav nav-tabs" >
          <li class="nav-item">
            <a class="nav-link {{active_profile}} " (click)="onChangeTabToProfile();"><h5 class="font-alt" style="color:rgb(65, 65, 65)">Mon Profil</h5></a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{active_orders}} "   (click)="onChangeTabToOrders();"><h5 class="font-alt" style="color:rgb(65, 65, 65)">Mes collaborations</h5></a>
          </li> 
        </ul>   
      </div>
        <hr class="divider-w  mt-10 mb-20">
        <div *ngIf="profile==true">
          <app-form-profile ></app-form-profile>
        </div>
        
        <div *ngIf="orders==true">
          <h4>Collaborations acceptées</h4>
          <div class="row animated fadeInLeft WOW"  >
          <div  class="col-sm-3 col-lg-3" *ngFor="let collab of collaborations.collaborations_acceptees">
          <div class="shop-item">
            <div class="card" >
              <div class="card-body" style="background-color: rgb(172, 171, 164)">
                <div  *ngFor="let course of courses">
                  <h5 class="card-title"  *ngIf="course.id == collab.course_id">{{course.name}}</h5>
                </div>
                <p class="card-text">{{collab.description}}</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">{{collab.hours}} heures</li>
                <li class="list-group-item">Statut :  {{collab.status}}</li>
                <div  *ngFor="let scyear of schoolyears">
                  <li class="list-group-item" *ngIf="scyear.id == collab.schoolyear_id">Année d'étude : {{scyear.name}}</li>
                </div>
                <div  *ngFor="let course of courses">
                  <li class="list-group-item"  *ngIf="course.id == collab.course_two_id">troc : {{course.name}}</li>
                </div>
              </ul>
              <div class="card-body">
                <button type="submit" class="btn btn-outline-dark my-2 my-sm-0" >Détails </button>
              </div>
            </div>
          </div>
        </div>
        </div>
          <hr class="divider-w  mt-10 mb-20">
          <h4>Collaborations demandées</h4>
          <div class="row animated fadeInLeft WOW"  >
          <div class="col-sm-3 col-lg-3" *ngFor="let collab of collaborations.collaborations_demandees">
          <div class="shop-item">
            <div class="card" >
              <div class="card-body" style="background-color: rgb(172, 171, 164)">
                <div  *ngFor="let course of courses">
                  <h5 class="card-title"  *ngIf="course.id == collab.course_id">{{course.name}}</h5>
                </div>
                <p class="card-text">{{collab.description}}</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">{{collab.hours}} heures</li>
                <li class="list-group-item">Statut : {{collab.status}}</li>
                <div  *ngFor="let scyear of schoolyears">
                  <li class="list-group-item" *ngIf="scyear.id == collab.schoolyear_id">Année d'étude : {{scyear.name}}</li>
                </div>
                <div  *ngFor="let course of courses">
                  <li class="list-group-item"  *ngIf="course.id == collab.course_two_id">troc : {{course.name}}</li>
                </div>
              </ul>
              <div class="card-body">
                <button type="submit" class="btn btn-outline-dark my-2 my-sm-0" >Détails </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

  </section>
  <script>
    $( document ).ready(function() {
      new WOW().init();
      });
  </script>